*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #7e7e7e;
  font-size: 1.4rem;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  width: 30vw;
    position: absolute;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    top: -75px;
    max-width: 280px;
    min-width: 150px;
}

.inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: min(100vw, 950px);
  border: 3px solid gold;
  border-radius: 50%;
  height: min(100vw, 950px);
  overflow: hidden;
  box-shadow: inset 17px 10px 34px #000000;
  isolation: isolate;
}

.img-container {
  width: min(100vw, 950px);
  height: min(100vw, 950px);
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.img-wrapper {
  position: relative;
}

.text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: min(100vw, 950px);
  height: min(100vw, 950px);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  font-size: 20px;
  color: white;
}

.text-container > * {
  background: radial-gradient(
    circle,
    rgba(202, 198, 205, 1) 0%,
    rgba(88, 96, 105, 1) 50%,
    rgba(52, 53, 59, 1) 100%
  );
}

.text-container > * > span {
  max-width: 200px;
}

.inputs-container > *,
.text-container > * {
  align-self: center;
  justify-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.51);
}

.inputs-container > *:nth-child(1) {
  border-right: 3px solid rgb(220, 192, 35);
  border-bottom: 3px solid rgb(220, 192, 35);
  background: linear-gradient(
    137deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 113, 113, 1) 35%,
    rgba(71, 83, 212, 1) 100%
  );
}

.inputs-container > *:nth-child(2) {
  border-left: 3px solid rgb(220, 192, 35);
  border-bottom: 3px solid rgb(220, 192, 35);
  background: linear-gradient(
    223deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 113, 113, 1) 35%,
    rgba(71, 83, 212, 1) 100%
  );
}

.inputs-container > *:nth-child(3) {
  border-right: 3px solid rgb(220, 192, 35);
  border-top: 3px solid rgb(220, 192, 35);
  background: linear-gradient(
    50deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 113, 113, 1) 35%,
    rgba(71, 83, 212, 1) 100%
  );
}

.inputs-container > *:nth-child(4) {
  border-left: 3px solid rgb(220, 192, 35);
  border-top: 3px solid rgb(220, 192, 35);
  background: linear-gradient(
    312deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 113, 113, 1) 35%,
    rgba(71, 83, 212, 1) 100%
  );
}

.inputs-container > *.remove:nth-child(1) {
  animation: ani1 2s forwards;
}

.inputs-container > *.remove:nth-child(2) {
  animation: ani2 2s forwards;
}

.inputs-container > *.remove:nth-child(3) {
  animation: ani1 2s forwards;
}

.inputs-container > *.remove:nth-child(4) {
  animation: ani2 2s forwards;
}

.inputs-container > *.error input,
.inputs-container > *.error {
  border-color: red;
}

.inputs-container > *.correct input,
.inputs-container > *.correct {
  border-color: green;
  border-width: 5px;
}

input {
  font-size: 20px;
  height: 40px;
  text-align: center;
  box-shadow: inset 0 0 10px #000000;
}
.night-sky {
  position: absolute;
  z-index: -999;
}

.sky {
  height: 100%;
  color: #fff;
  display: none;
  z-index: 9999;
}

@keyframes ani1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes ani2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .inputs-container > *:nth-child(1) {
    padding-left: 50px;
    padding-top: 50px;
  }

  .inputs-container > *:nth-child(2) {
    padding-right: 50px;
    padding-top: 50px;
  }

  .inputs-container > *:nth-child(3) {
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .inputs-container > *:nth-child(4) {
    padding-right: 50px;
    padding-bottom: 50px;
  }

  input {
    width: 60%;
    height: 30px;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

.night {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
  z-index: -1;
}

.night1 {
  transform: rotateZ(45deg) translate(0, -50%);
}

.night2 {
  transform: rotateZ(45deg) translate(0, 54%);
}

.night3 {
  transform: rotateZ(45deg) translate(-50%, 0);
}

.night4 {
  transform: rotateZ(45deg) translate(50%, 0);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -128px);
  left: calc(50% - 107px);
  -webkit-animation-delay: 5365ms;
  animation-delay: 5365ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 5365ms;
  animation-delay: 5365ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 77px);
  left: calc(50% - 27px);
  -webkit-animation-delay: 6940ms;
  animation-delay: 6940ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 6940ms;
  animation-delay: 6940ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 45px);
  left: calc(50% - 165px);
  -webkit-animation-delay: 3021ms;
  animation-delay: 3021ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 3021ms;
  animation-delay: 3021ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 103px);
  left: calc(50% - 300px);
  -webkit-animation-delay: 3980ms;
  animation-delay: 3980ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 3980ms;
  animation-delay: 3980ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 31px);
  left: calc(50% - 246px);
  -webkit-animation-delay: 6542ms;
  animation-delay: 6542ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 6542ms;
  animation-delay: 6542ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 115px);
  left: calc(50% - 241px);
  -webkit-animation-delay: 5937ms;
  animation-delay: 5937ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 5937ms;
  animation-delay: 5937ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -8px);
  left: calc(50% - 198px);
  -webkit-animation-delay: 2021ms;
  animation-delay: 2021ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 2021ms;
  animation-delay: 2021ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 76px);
  left: calc(50% - 244px);
  -webkit-animation-delay: 1467ms;
  animation-delay: 1467ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 1467ms;
  animation-delay: 1467ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 158px);
  left: calc(50% - 129px);
  -webkit-animation-delay: 6752ms;
  animation-delay: 6752ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 6752ms;
  animation-delay: 6752ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 156px);
  left: calc(50% - 14px);
  -webkit-animation-delay: 939ms;
  animation-delay: 939ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 939ms;
  animation-delay: 939ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 136px);
  left: calc(50% - 68px);
  -webkit-animation-delay: 8168ms;
  animation-delay: 8168ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 8168ms;
  animation-delay: 8168ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -67px);
  left: calc(50% - 141px);
  -webkit-animation-delay: 9385ms;
  animation-delay: 9385ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 9385ms;
  animation-delay: 9385ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 135px);
  left: calc(50% - 38px);
  -webkit-animation-delay: 9112ms;
  animation-delay: 9112ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 9112ms;
  animation-delay: 9112ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 95px);
  left: calc(50% - 282px);
  -webkit-animation-delay: 4461ms;
  animation-delay: 4461ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 4461ms;
  animation-delay: 4461ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 134px);
  left: calc(50% - 204px);
  -webkit-animation-delay: 3669ms;
  animation-delay: 3669ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 3669ms;
  animation-delay: 3669ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -144px);
  left: calc(50% - 185px);
  -webkit-animation-delay: 5390ms;
  animation-delay: 5390ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 5390ms;
  animation-delay: 5390ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -40px);
  left: calc(50% - 4px);
  -webkit-animation-delay: 1281ms;
  animation-delay: 1281ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 1281ms;
  animation-delay: 1281ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -143px);
  left: calc(50% - 116px);
  -webkit-animation-delay: 1366ms;
  animation-delay: 1366ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 1366ms;
  animation-delay: 1366ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -44px);
  left: calc(50% - 64px);
  -webkit-animation-delay: 6363ms;
  animation-delay: 6363ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 6363ms;
  animation-delay: 6363ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -4px);
  left: calc(50% - 164px);
  -webkit-animation-delay: 1163ms;
  animation-delay: 1163ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 1163ms;
  animation-delay: 1163ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
























.shootingStarContainer:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 130%;
  transform: rotate(43deg);
  z-index: 10;
}
.shootingStarContainer:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 130%;
  transform: rotate(36deg);
  z-index: 10;
}
.shootingStarContainer:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 130%;
  transform: rotate(43deg);
  z-index: 10;
}

.shootingStar {
  position: absolute;
  height: 1px;
  background: linear-gradient(-70deg, #ffebeb, black);
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(1) {
  left: calc(48%);
  top: calc(43%);
  -webkit-animation: shootingFrames 1300ms ease-in-out 52116ms;
          animation: shootingFrames 1300ms ease-in-out 52116ms;
  opacity: 0.54;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(2) {
  left: calc(47%);
  top: calc(18%);
  -webkit-animation: shootingFrames 1707ms ease-in-out 51023ms;
          animation: shootingFrames 1707ms ease-in-out 51023ms;
  opacity: 0.24;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(3) {
  left: calc(50%);
  top: calc(76%);
  -webkit-animation: shootingFrames 2218ms ease-in-out 59458ms;
          animation: shootingFrames 2218ms ease-in-out 59458ms;
  opacity: 0.9;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(4) {
  left: calc(8%);
  top: calc(68%);
  -webkit-animation: shootingFrames 1007ms ease-in-out 1322ms;
          animation: shootingFrames 1007ms ease-in-out 1322ms;
  opacity: 0.81;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(5) {
  left: calc(16%);
  top: calc(87%);
  -webkit-animation: shootingFrames 1969ms ease-in-out 18434ms;
          animation: shootingFrames 1969ms ease-in-out 18434ms;
  opacity: 0.43;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(6) {
  left: calc(47%);
  top: calc(75%);
  -webkit-animation: shootingFrames 1260ms ease-in-out 21420ms;
          animation: shootingFrames 1260ms ease-in-out 21420ms;
  opacity: 0.81;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(7) {
  left: calc(12%);
  top: calc(64%);
  -webkit-animation: shootingFrames 2386ms ease-in-out 32049ms;
          animation: shootingFrames 2386ms ease-in-out 32049ms;
  opacity: 0.81;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(8) {
  left: calc(46%);
  top: calc(59%);
  -webkit-animation: shootingFrames 2450ms ease-in-out 52771ms;
          animation: shootingFrames 2450ms ease-in-out 52771ms;
  opacity: 0.82;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(9) {
  left: calc(32%);
  top: calc(52%);
  -webkit-animation: shootingFrames 2650ms ease-in-out 23159ms;
          animation: shootingFrames 2650ms ease-in-out 23159ms;
  opacity: 0.54;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(10) {
  left: calc(35%);
  top: calc(99%);
  -webkit-animation: shootingFrames 1010ms ease-in-out 21274ms;
          animation: shootingFrames 1010ms ease-in-out 21274ms;
  opacity: 0.9;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(1) {
  left: calc(47%);
  top: calc(22%);
  -webkit-animation: shootingFrames 1588ms ease-in-out 33950ms;
          animation: shootingFrames 1588ms ease-in-out 33950ms;
  opacity: 0.16;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(2) {
  left: calc(20%);
  top: calc(24%);
  -webkit-animation: shootingFrames 2375ms ease-in-out 33275ms;
          animation: shootingFrames 2375ms ease-in-out 33275ms;
  opacity: 0.58;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(3) {
  left: calc(22%);
  top: calc(57%);
  -webkit-animation: shootingFrames 1468ms ease-in-out 3882ms;
          animation: shootingFrames 1468ms ease-in-out 3882ms;
  opacity: 0.7;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(4) {
  left: calc(41%);
  top: calc(83%);
  -webkit-animation: shootingFrames 1122ms ease-in-out 37792ms;
          animation: shootingFrames 1122ms ease-in-out 37792ms;
  opacity: 0.76;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(5) {
  left: calc(21%);
  top: calc(85%);
  -webkit-animation: shootingFrames 1692ms ease-in-out 56480ms;
          animation: shootingFrames 1692ms ease-in-out 56480ms;
  opacity: 0.63;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(6) {
  left: calc(6%);
  top: calc(58%);
  -webkit-animation: shootingFrames 870ms ease-in-out 36820ms;
          animation: shootingFrames 870ms ease-in-out 36820ms;
  opacity: 0.83;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(7) {
  left: calc(22%);
  top: calc(94%);
  -webkit-animation: shootingFrames 2080ms ease-in-out 24976ms;
          animation: shootingFrames 2080ms ease-in-out 24976ms;
  opacity: 0.87;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(8) {
  left: calc(27%);
  top: calc(10%);
  -webkit-animation: shootingFrames 1446ms ease-in-out 8805ms;
          animation: shootingFrames 1446ms ease-in-out 8805ms;
  opacity: 0.54;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(9) {
  left: calc(19%);
  top: calc(10%);
  -webkit-animation: shootingFrames 1809ms ease-in-out 34533ms;
          animation: shootingFrames 1809ms ease-in-out 34533ms;
  opacity: 0.85;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(10) {
  left: calc(22%);
  top: calc(23%);
  -webkit-animation: shootingFrames 1112ms ease-in-out 36564ms;
          animation: shootingFrames 1112ms ease-in-out 36564ms;
  opacity: 0.25;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(1) {
  left: calc(13%);
  top: calc(22%);
  -webkit-animation: shootingFrames 1183ms ease-in-out 44354ms;
          animation: shootingFrames 1183ms ease-in-out 44354ms;
  opacity: 0.7;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(2) {
  left: calc(47%);
  top: calc(23%);
  -webkit-animation: shootingFrames 2122ms ease-in-out 5827ms;
          animation: shootingFrames 2122ms ease-in-out 5827ms;
  opacity: 0.7;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(3) {
  left: calc(28%);
  top: calc(73%);
  -webkit-animation: shootingFrames 1942ms ease-in-out 53697ms;
          animation: shootingFrames 1942ms ease-in-out 53697ms;
  opacity: 0.69;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(4) {
  left: calc(19%);
  top: calc(15%);
  -webkit-animation: shootingFrames 2122ms ease-in-out 44889ms;
          animation: shootingFrames 2122ms ease-in-out 44889ms;
  opacity: 0.79;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(5) {
  left: calc(40%);
  top: calc(23%);
  -webkit-animation: shootingFrames 2585ms ease-in-out 4946ms;
          animation: shootingFrames 2585ms ease-in-out 4946ms;
  opacity: 0.36;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(6) {
  left: calc(36%);
  top: calc(3%);
  -webkit-animation: shootingFrames 940ms ease-in-out 55649ms;
          animation: shootingFrames 940ms ease-in-out 55649ms;
  opacity: 0.46;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(7) {
  left: calc(49%);
  top: calc(92%);
  -webkit-animation: shootingFrames 1143ms ease-in-out 871ms;
          animation: shootingFrames 1143ms ease-in-out 871ms;
  opacity: 0.72;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(8) {
  left: calc(21%);
  top: calc(5%);
  -webkit-animation: shootingFrames 1096ms ease-in-out 47341ms;
          animation: shootingFrames 1096ms ease-in-out 47341ms;
  opacity: 0.2;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(9) {
  left: calc(20%);
  top: calc(59%);
  -webkit-animation: shootingFrames 1886ms ease-in-out 1386ms;
          animation: shootingFrames 1886ms ease-in-out 1386ms;
  opacity: 0.28;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(10) {
  left: calc(17%);
  top: calc(94%);
  -webkit-animation: shootingFrames 1104ms ease-in-out 26317ms;
          animation: shootingFrames 1104ms ease-in-out 26317ms;
  opacity: 0.66;
}

@-webkit-keyframes shootingFrames {
  0% {
    transform: translateX(0);
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
    transform: translateX(899px);
  }
}

@keyframes shootingFrames {
  0% {
    transform: translateX(0);
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
    transform: translateX(899px);
  }
}
.stars,
.twinkleMask,
.twinkleMask2,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url("https://wolf.drjm.co.uk/nightsky/stars.jpg") repeat top center;
  z-index: 0;
}

.twinkleMask {
  background: transparent url("https://wolf.drjm.co.uk/nightsky/twinklemask.png") repeat top center;
  z-index: 1;
  -webkit-animation: twinkleFrames 700s linear infinite;
          animation: twinkleFrames 700s linear infinite;
}

.twinkleMask2 {
  background: transparent url("https://wolf.drjm.co.uk/nightsky/twinkleMask2.png") repeat top center;
  z-index: 2;
  height: 200%;
  -webkit-animation: twinkleFrames2 300s linear infinite;
          animation: twinkleFrames2 300s linear infinite;
}

.clouds {
  background: transparent url("https://wolf.drjm.co.uk/nightsky/clouds.png") repeat top center;
  z-index: 3;
  height: 150%;
  -webkit-animation: cloudsFrames 300s linear infinite;
          animation: cloudsFrames 300s linear infinite;
}

.fogContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 7;
}

.fog {
  position: absolute;
  left: -50%;
  top: -30%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: fogFrames;
          animation-name: fogFrames;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: linear-gradient(-5deg, #00000000 0%, #ffffff15 40%, #74590121 45%, #8b845b21 55%, #00000000 70%);
}

@-webkit-keyframes fogFrames {
  0% {
    transform: none;
  }
  10% {
    transform: scaleY(0.75) translate(5%, -2%) rotate(15deg);
  }
  25% {
    transform: scaleY(1) translate(10%, 7%);
  }
  50% {
    transform: scaleY(0.5) rotate(-15deg);
  }
  75% {
    transform: scaleY(0.2) translate(7%, -2%);
  }
  100% {
    transform: none;
  }
}

@keyframes fogFrames {
  0% {
    transform: none;
  }
  10% {
    transform: scaleY(0.75) translate(5%, -2%) rotate(15deg);
  }
  25% {
    transform: scaleY(1) translate(10%, 7%);
  }
  50% {
    transform: scaleY(0.5) rotate(-15deg);
  }
  75% {
    transform: scaleY(0.2) translate(7%, -2%);
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes twinkleFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes twinkleFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes twinkleFrames2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 5000px;
  }
}
@keyframes twinkleFrames2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 5000px;
  }
}
@-webkit-keyframes cloudsFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@keyframes cloudsFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}